APP_NAME=Sentra
APP_ENV=development
GOWA_BASIC_AUTH_USER=admin
GOWA_BASIC_AUTH_PASSWORD=
GOWA_DEVICE_ID=
SQUAD_BASE_URL=https://sandbox-api-d.squadco.com
SQUAD_SECRET_KEY=
SQUAD_PUBLIC_KEY=
HOSTED_ARTIFACT_REASONER_URL=
HOSTED_TAMPER_DETECTOR_URL=
HOSTED_SYNTHETIC_ARTIFACT_DETECTOR_URL=
READINESS_REQUIRE_HOSTED=false
